.label {
    display: block;
    margin: 0px 0px 15px 0px;
    margin-left: 40px;
}

.input {
    box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    padding: 7px;
    outline: none;
    margin-bottom: 10px;
    max-width: 200px;
    margin-left: 40px;
}

.input:hover,
.input:focus {
    border: 1px solid #0C0;
}